
body {
  margin: 0;
  padding: 0;
  background: rgb(24, 44, 103);
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.container {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  /* align-items: center; */
  /* display: flex; */
}

.vane-frame {

  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: 450px;
  height: 750px;
  text-align: center;
  /* flex: 1;     */
}

img {
  width: 100%;
}

.image {
  z-index: 2;
  position: relative;
}


.l-eye {
  z-index: 1;
  position: absolute;
  top: 329px;
  left: 106px;
  width: 104px;
  height: 85px;
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  overflow: hidden;
  background: #c9b394;
}

.r-eye {
  z-index: 1;
  position: absolute;
  top: 320px;
  left: 240px;
  width: 104px;
  height: 85px;
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  overflow: hidden;
  background: #c9b394;
  
}

.ball {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* .eyes {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
} */